*{
    background-color: rgb(92, 65, 117);
}
nav , nav a{
    background-color: rgb(33, 36, 55,255);
}
nav a , .Services{
    color: white;
}
body, *{
    background-color: rgb(35, 37, 59 , 255);
}
nav , main{
    padding: 20px;
    border: 20px;
    margin: 20px;
}
.b1 , .submit{
    padding: 10px;
    border: 10px;
    margin: 10px;
    color: wheat;
    background-color: brown;
    
}
.b1:hover{
    color: whitesmoke;
    background-color: burlywood;
}
nav a {
    float: right;
}

h1{
    font-size: 60px;
    color: black;
    line-height: 90%;
}
a:hover{
    color: red;
    text-decoration: none;
}
a:visited{
    
    text-decoration: none;
}
a:link{
    color: black;
    text-decoration: none;
    
}
h1{
    color: rgb(244, 249, 253, 25);
}
.text{
    color: rgba(149, 152 , 167 ,25);
    
}
.a{
    color:brown;
}
.ga , .m{
    color: white;
}
.Skill{
    font-size: 40px;
    color:rgba(220,78,101,255) ;
}
.main , .main2{
    display: flex;
}
.box1{
    padding: 50px;
    border: 20px;
    margin: 25px;
    height: 300px;
    width: 300px;
}
.box2{
    padding: 50px;
    border: 20px;
    margin: 25px;
    height: 300px;
    width: 300px;
}
.box3{
    padding: 50px;
    border: 20px;
    margin: 25px;
    height: 300px;
    width: 300px;
}
.box4{
    padding: 50px;
    border: 20px;
    margin: 25px;
    height: 300px;
    width: 300px;
}
.box5{
    padding: 50px;
    border: 20px;
    margin: 25px;
    height: 300px;
    width: 300px;
    }
.box6{
    padding: 50px;
    border: 20px;
    margin: 25px;
    height: 300px;
    width: 300px;
    }
.con{
    font-size: 30px;
    color:rgba(220,78,101,255) ;
}
.submit{
    margin: 10%;
}


.input{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2% solid ;

}
img{
    padding: 10px;
    
}